@import url(./variables.less);

// 全局初始化样式
* {
    box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
    background   : transparent;
    padding      : 0 0.5em;
    width        : 100%;
    height       : 2.4em;
    border       : 0.5px solid @ui-form-control-line;
    border-radius: @ui-border-radius;
    transition   : all @ui-transition-duration;

    &:hover {
        border-color: @ui-form-control-line-hover;
    }

    &:focus {
        outline-offset: 0px;
        outline       : none;
        border-color  : @ui-form-control-line-active;
    }

    /*  &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder, */
    &::placeholder {
        color    : @ui-aide-text;
        font-size: 0.9em;
    }
}